body {
    background-color: black;
}

.container {
    padding: 30px;
    text-align: center;

}
header {
    border: 5px solid green;
    padding-top: 35px;
    font-size: 30px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 10px auto;
    height: 70px;
    width: 90%; 
}

.currentWord {
    border: solid green;
    border-width: 5px 5px 0px 5px;
    padding-top: 10px;
    font-size: 20px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0px auto;
    height: 60px;
    width: 90%;
    
}

.underscore {
    border: solid green;
    border-width: 0px 5px 5px 5px;
    padding-top: 10px;
    font-size: 30px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    overflow: hidden;
    margin: 0px auto;
    height: 80px;
    width: 90%;

}

.numWins {
    border: 5px solid green;
    padding: 30px;
    font-size: 20px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    align-content:center;
    position: relative; 
    overflow: hidden;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    height:200px;
    width: 20%; 
}

.wrongGuess {
    border: 5px solid green;
    padding: 30px;
    font-size: 20px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    align-content:center;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    height: 200px;
    width: 20%;
}

.remainingGuess {
    border: 5px solid green;
    padding: 30px;
    font-size: 20px;
    color: green;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    align-content:center;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    height: 200px;
    width: 20%;
}