header {
    border: 5px solid green;
    font-size: 30px;
    text-align: center;
    margin: 15px auto;
    height: 150px;
    width: 400px; 

}

.underscore {
    border: 5px solid green;
    font-size: 100px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 60%;

}

.rightGuess {
    border: 5px solid green;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 60%;
}

.wrongGuess {
    border: 5px solid green;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 60%;
}